%h1
  Test:
  = @test_passage.test.title
%p
  = t(".your_result")
  - if @test_passage.success?
    %span.success_test
      = t(".success")
      = @test_passage.percent
      \%
  -else
    %span.failed_test
      = t(".failed")
      = @test_passage.percent
      \%

%h2 Вы заработали бейджи
- @new_badges.each do |badge|
  %p
    = image_tag "#{badge.badge_type.name}.png"
    = badge.name


%p
  = link_to t(".return"), tests_path, class: "btn btn-primary"
