%h1
  = t(".test_passage", test_title: @test_passage.test.title)
- if @test_passage.test.questions.any?
  %p
    = t(".question")
    = content_tag :span, @test_passage.question_number, id: "cur-value", data: {cur_value: @test_passage.question_number}
    = t(".is")
    = content_tag :span, @test_passage.test.questions.count, id: "max-value", data: {max_value: @test_passage.test.questions.count}
  %p
    .progress
      .progress-bar{role: "progressbar", style: "width: 0%", aria: {valuenow: 0, valuemin: "0", valuemax: "100"}}
  %p
    Оставшееся время:
    = content_tag :span, Time.at(@test_passage.time_left).utc.strftime("%H:%M:%S"), id: "timer", data: {test_passage_id: @test_passage.id}
  %p
    = @test_passage.current_question.body
  = form_with url: test_passage_path(@test_passage), local: true, method: :put do |f|
    = f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |c|
      %p
        = c.check_box
        = c.label
    = f.submit t(".submit"), class: "btn btn-primary", id: "next-question"
  = link_to t(".gist_question"), gist_test_passage_path(@test_passage), method: :post
- else
  %b
    = t(".noquestions")
  %p
    = link_to t(".back"), tests_path, class: "btn btn-primary"
