%nav
  = link_to t(".title"), root_path
  %ul
    - if user_signed_in?
      %li
        %span
          = "#{t('.greetings')}, #{current_user.email}"
        = link_to t(".logout"), destroy_user_session_path, method: :delete
    - else
      %li
        = link_to t(".register"), new_user_registration_path
      %li
        = link_to t(".login"), new_user_session_path(current_user)

