.card-body
  = form_for [:admin, @test, @question], local: true do |f|
    .form-group
      = render "shared/errors", resource: @question
    = f.label :body
    = f.text_area :body, class: "form-control"
    = f.hidden_field :test_id, value: @question.test_id
    %p
      = f.submit
