= form_for [:admin, @test], local: true do |f|
  = render "shared/errors", resource: @test
  = f.label :title
  = f.text_field :title
  %br
  = f.label :level
  = f.number_field :level, in: 1..10
  %br
  = f.select :category_id, @categories.collect {|c| [c.title, c.id]}
  %br
  = f.submit
