%tr
  %td
    = test.id
  %td
    = test.title
  %td
    = test.level
  %td
    = test.questions.length
  %td
    = test.author.email
  %td
    = link_to "Show test", admin_test_questions_path(test)

