%tr
  %td
    = test.id
  %td
    = test.title
  %td
    = test.level
  %td
    = test.category.title
  %td
    = test.author.email
  %td
    = test.questions.length
  %td
    = link_to t(".show"), admin_test_questions_path(test), class: "btn btn-primary"

