%h1 Tests List
%p
  = link_to t(".new_test"), new_admin_test_path, class: "btn btn-primary"
= render "shared/errors", resource: @test
%table.table.table-striped.table-sm
  %thead
    %tr
      - human_names(Test, [:id, :title, :level, :category, :author]).each do |name|
        %th{scope: "col"}
          = name
      %th{scope: "col"}
        = t(".questions_count")
      %th{scope: "col", colspan: 2}
        = t(".actions")
  %tbody
    = render @tests
