%tr
  %td
    = test.id
  %td
    = test.title
  %td
    = test.level
  %td
    = test.questions.length
  %td
    = test.author.email
  %td
    = button_to "Start", start_test_path(test)
  %td
    = link_to "Show test", test_questions_path(test)

