%tr
  %td
    = test.id
  %td
    = test.title
  %td
    = test.level
  %td
    = test.category.title
  %td
    = test.author.email
  %td
    = test.questions.length
  %td
    = button_to t(".start"), start_test_path(test), class: "btn btn-primary", disabled: test.questions.empty?

