%h1
  = t(".header")
%table
  %thead
    %tr
      - human_names(Test, [:id, :title, :level, :category, :author]).each do |name|
        %th
          = name
      %th
        = t(".questions_count")
      %th{colspan: 2}
        = t(".actions")
  %tbody
    = render @tests
